<!DOCTYPE html>
<html>
<head>
  <title>Exchange Rates</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <style>
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }



    /********************************************
            LAYOUT STYLES
    ********************************************/



    header, .content{
      display: block;
      width: 384px;
    }



    /********************************************
            TYPOGRAPHY STYLES
    ********************************************/



    body{
      font: normal 22px/27px 'Octin College', sans-serif;
      text-transform: uppercase;
    }
    h1{
      background: #fff url(/images/logo.gif) 4px 4px no-repeat;
      border: 1px solid #000;
      display: block;
      font: bold 28px/24px 'Cabin', sans-serif;
      height: 46px;
      margin: 0 auto 9px;
      padding: 5px 5px 5px 65px;
      width: 290px;
    }
    h2{
      background: #000;
      color: #fff;
      display: inline-block;
      font: bold 30px/42px 'Cabin', sans-serif;
      margin: 0 0 12px;
      padding: 0 17px;
    }
    h3{
      font: bold 20px/26px 'Cabin', sans-serif;
      margin: 0;
      text-transform: none;
    }
    em{
      background: #000;
      color: #fff;
      display: inline-block;
      padding: 0 5px;
    }



    /********************************************
            HEADER STYLES
    ********************************************/



    header{
      background: url(/images/bg-horizontal.gif) 0 0 repeat;
      padding: 12px 0 0;
    }
    .today{
      background: #fff;
      border-bottom: 1px solid #000;
      display: block;
      padding: 14px 0 8px;
      text-align: center;
    }



    /********************************************
            CONTENT STYLES
    ********************************************/



    .content{
      background: url(/images/bg-diagonal.gif) 0 0 repeat;
      border-bottom: 8px solid #000;
      display: block;
      overflow: auto;
    }
    table{
      background: #fff;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      margin: 24px 0 30px;
      width: 100%;
    }
    table td{
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      height: 27px;
      line-height: 27px;
    }
    table .spacer td{border: 0; height: 7px;}
    table .spacer:last-child{display: none;}
    td.change{
      text-align: center;
      width: 83px;
    }
    td.rate{width: 120px;}
    td.conversion{width: 180px;}
  </style>
</head>
<body>
  <header>
    <h1>Exchange<br/>Rates</h1>

    <div class="today">
      <h2><%= @currency.upcase %></h2>
      <h3><%= @local_updated_at.strftime("%A #{@local_updated_at.day.ordinalize} %B %Y<br />%I:%M%P") %></h3>
    </div><!--endDiv today-->
  </header>
  <div class="content">
    <table>
      <tbody>
        <% @rates.each do |r| %>
        <tr>
          <td class="change"><img src="/images/arrow-<%= r[3] ? "up" : "down" %>.gif" alt="Movement" />
          <td class="rate"><%= r[1].round(3) %> <%= r[0].upcase %></td>
          <td class="conversion">1 <em><%= r[0].upcase %></em> = <%= r[2].round(3) %> <%= @currency.upcase %></td>
        </tr>
        <tr class="spacer"><td colspan="3"></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
