<!DOCTYPE html>
<html>
<head>
  <title>Exchange Rates</title>

  <style type="text/css">
    body {
      width: 384px;
      padding: 0px;
      margin: 0px;
    }
    #wrapper {
      width: 360px;
      margin: 0 auto;
      text-align: center;
    }
    h1, h3 {
      word-wrap: break-word;
      margin: 10px 0 10px 0;
    }
    hr {
      padding: 0;
      margin-top: 16px;
      border: none;
      border-top: medium double #333;
      color: #333;
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="wrapper">
    <h1>Exchange Rates</h1>
    <h3>Australian Dollar</h3>
    <h3>Updated <%= (@updated_at + @local_time.utc_offset).strftime("%Y-%m-%d %I:%M%P") %></h3>
    <table>
      <th>
        <td>Rates</td>
        <td>Inverse</td>
      </th>
      <% @rates.each do |r| %>
      <tr>
        <td>1 <%= @currency.upcase %> = <%= r[1] %> <%= r[0].upcase %></td>
        <td>1 <%= r[0].upcase %> = <%= r[2] %> <%= @currency.upcase %></td>
      </tr>
      <% end %>
    </table>
    <hr />
  </div>
</body>
</html>
